.sidebarChat {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid #f6f6f6;
  padding: 15px;
}

.sidebarChat:hover {
  background-color: #e1e1e1;
}

.sidebarChat > .sidebarChat__info {
  margin-left: 15px;
}

.sidebarChat__info > h2 {
  font-size: 16px;
  /* margin-bottom: 3px; */
}
